/* .notification is-primary {
  padding-bottom: 200px;
} */
.button {
  font-weight: bold;
  color: white;
  background-color: black;
  margin-top: 60px;
}
.h1 {
  font-size: 45px;
  justify-content: center;
}
.title-container {
  height: 10rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px -4px lightgray;
}

.title-text {
  font-size: 35px;
  color: black;
  font-weight: bold;
}
